{{define "station_info.html"}}
{{if .Info}}
<div class="station-info" id="station-info">
  {{template "sigstrip" .Sig}}
  <p><b>{{t "QSL manager:"}}</b> {{if .Info.QSLMgr}}{{.Info.QSLMgr}}{{else}}-{{end}}</p>
  <p><b>{{t "Address:"}}</b> {{.Info.Addr1}} {{.Info.Addr2}} {{.Info.State}} {{.Info.Zip}} {{.Info.Country}}</p>
  <p><b>{{t "Email:"}}</b> {{.Info.Email}}</p>
  <p><b>eQSL:</b> {{.Info.EQSL}} &nbsp; <b>mQSL:</b> {{.Info.MQSL}} &nbsp; <b>LoTW:</b> {{.Info.LoTW}}</p>
  <p class="muted">{{t "cached %s ago" (since .Info.FetchedAt)}}</p>
</div>
{{else}}
<div class="station-info" id="station-info"><p class="muted">{{th "No station info available for <b>%s</b>. Check QRZ credentials under Settings." (html .Call)}}</p></div>
{{end}}
{{end}}
